body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(2, 113, 183);
}

h2 {
    color: #0271b7;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.expense-item {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.add-form {
    margin: 20px 0;
}

input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

.add-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.total-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

button {
    background-color: #db344d;
    color: #fff;
    border: none;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}